<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>My CRUD in NodeJS</title>
  <link rel="stylesheet" type="text/css" href="/css/productList.css">
  <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
            integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
            crossorigin="anonymous"
        />
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">A2</a>
        <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/"
                        >Criar <span class="sr-only">(current)</span></a
                    >
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/productList">Produtos</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <% data.forEach(function(product) { %>
        <div class="card" style="width: 50rem; margin-top: 2rem;">
            <div class="card-header">
                <h5 class="card-title"><%= product.title %></h5>
            </div>
            <div class="card-body">
                <p class="card-text"><%= product.description %></p>
                <div class="d-flex justify-content-between">
                    <p><strong>Watch:</strong> <%= product.watch %></p>
                    <p><strong>Star:</strong> <%= product.star %></p>
                    <p><strong>Fork:</strong> <%= product.fork %></p>
                    <p><strong>Used By:</strong> <%= product.usedby %></p>
                    <p><strong>Issues:</strong> <%= product.issues %></p>
                    <p><strong>Pul Request:</strong> <%= product.pullRequests %></p>
                </div>
                <p class="card-text"><strong>Data de criação:</strong> <%= product.createdAt %></p>
                
            </div>
            <div class="card-footer">
                <a href="<%= product.url %>" class="card-link">Link</a>
                <a href="/productEdit/<%= product._id %>" class="btn btn-secondary">Editar</a>
                <a href="/productRemove/<%= product._id %>" class="btn btn-danger">Remover</a>
                
            </div>
        </div>
        <% }); %> 
    </div>
    <script
            src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"
        ></script>
</body>
</html>